* {
    margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  background-color: #fff;
  color: #0a0a0a;
}

.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.push {
  height: 100px; /* .push must be the same height as .footer */
}

.jumbotron h1 {
  margin-bottom: 28px;
}

#jumbotron-footer {
	background-color: #96bc3d;
  padding-top: 38px;
  padding-bottom: 28px;
  height: 100px; 
}

#jumbotron-footer p {
	font-size: 12px;
	color: #fff;
}

.btn-home {
  padding: 10px 20px 10px 20px;
  background: transparent;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}