.navbar.navbar, .navbar-default.navbar {
    background-color: transparent;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar a {
    color: #fff;
    display: block;
    padding-top: 20px;
}

.navbar-left a {
    font-size: 30px;
    font-weight: 800;
}

.navbar-left a:hover {
    text-decoration: none;
}

.navbar-left a img {
    width: 60px;
    height: 60px;
}

.navbar-right a {
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 35px;
}

body .jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0px;
    box-shadow: 0 0px 0px;
}

.jumbotron h1 {
    font-size: 22px;
}

.jumbotron p {
    font-size: 22px;
}

body .jumbotron-1 {
    padding-top: 0px;
    padding-bottom: 90px;
    background-image: url("/img/landing-1.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/*.btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {*/
/*background: transparent;*/
/*border-width: 1px;*/
/*border-color: #fff;*/
/*border-style: solid;*/
/*color: #fff;*/
/*border-radius: 5px;*/
/*}*/

.trans-btn {
    background: transparent;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    color: #fff !important;
    border-radius: 5px;
}

.jumbotron-info p {
    font-size: 14px;
}

.header-block {
    display: block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 60px;
    background-color: #4b98dc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.header-block-1 {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 60px;
    background-image: url("/img/landing-2.jpg");
    background-size: cover;
}

.header-block-2 {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 60px;
    background-image: url("/img/landing-3.jpg");
    background-size: cover;
}

.header-block-3 {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 60px;
    background-image: url("/img/landing-4.jpg");
    background-size: cover;
}

#googleMap {
  width: 100%;
  height: 500px;
}



