<div ng-controller="HomeController">
  <!--<h3>{{title}}</h3>-->
  <div class="jumbotron jumbotron-1">
  	<nav class="navbar">
	  <div class="container">
	    <div class="navbar-left">
	    	<a href="/"><img src="/img/logo.png"></img></a>
	    </div>
	    <div class="navbar-right">
	      <a href="mailto:tracey.quinte@gmail.com">contact us</a>
	    </div>
	  </div>
	</nav>
    <br />
    <br />
    <h1>
      Creating a space for makers to share, collaborate and learn
    </h1>
    <p>
      <a class="btn btn-default scroll trans-btn" href="#/register" role="button">Sign up</a>
      <a class="btn btn-default scroll trans-btn" href="#/login" role="button">Login</a>
    </p>
    <br />
    <br />
  </div>

  <div class="jumbotron jumbotron-info">
    <div class="container" style="text-align: center;">
      <div class="container">
      	<br />
        <div class="row">
          <div class="col-md-4">
            <div class="header-block-1">
            </div>
            <br />
            <h1>REX HAZARD</h1>
            <p>Rex Hazard is a buccaneering pioneer of setting up and working with communities of creative builders, Hacker spaces, co-working spaces and Makers Spaces across the globe. Deeply dedicated to working within this field, Rex also works as a part of Communitere, an organisation that utilises these open source initiatives to establish creative spaces in disaster zones.</p>
          </div>
          <div class="col-md-4">
            <div class="header-block-2">
            </div>
            <br />
            <h1>FOOTSCRAY MAKER LAB</h1>
            <p>Footscray Maker Lab is a creative workspace located at 210 Whitehall St, Footscray. We provide a place for creative people, artists and designers to come together to share knowledge, collaborate and co-create in a variety of projects and initiatives.</p>
          </div>
          <div class="col-md-4">
            <div class="header-block-3">
            </div>
            <br />
            <h1>DANNIE WEI</h1>
            <p>A creative Science/Technology educator who is passionate about combining Sci- ence, Technology and Art. In her spare time she loves making science and technology more accessible for everyone, especially for beginners so that everyone can use it to express their creative voice</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div id="googleMap"></div>
</div>
<script type="text/javascript">
  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(51.508742,-0.120850),
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
  $(document).ready(function () {
    google.maps.event.addDomListener(window, 'load', initialize());
  });
</script>
