<!--<div ng-controller="PingController">{{ping}}</div>-->
<div ng-controller="PingController">
    <div class="account-summary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box seo-details">
                        <h2>Project Details</h2>
                        <ul class="list-group">
                            <li class="list-group-item glyphicon glyphicon-globe"> Website: example.com.au</li>
                            <li class="list-group-item glyphicon glyphicon-search"> Search engine: Google AU</li>
                            <li class="list-group-item glyphicon glyphicon-list"> No of keywords: 10</li>
                            <li class="list-group-item glyphicon glyphicon-calendar"> Start Date: 10/08/2013</li>
                            <li class="list-group-item glyphicon glyphicon-calendar"> End Date: 10/08/2015</li>
                            <li class="list-group-item glyphicon glyphicon-user"> Campaign Manager: <a href="#" tabindex="0" class="btn " data-toggle="popover" data-trigger="focus" title="Sylvia Tiet" data-content="Email:sylvia@arrowinternet.com.au Phone:0123456789">Sylvia</a></li>


                            <li class="list-group-item glyphicon glyphicon-user"> Account Director: <a href="#" tabindex="0" class="btn " data-toggle="popover" data-trigger="focus" title="Jasmine Batra" data-content="Email:jasmine@arrowinternet.com.au Phone:0123456789">Jasmine</a></li>
                            <li class="list-group-item glyphicon glyphicon-user"> Reporting Contact: <a href="#" tabindex="0" class="btn " data-toggle="popover" data-trigger="focus" title="Jessica" data-content="Email:jessica@company.com.au Phone:0123456789">Jessica</a></li>
                            <li class="list-group-item glyphicon glyphicon-certificate"> Account Level: Gold</li>
                            <li class="list-group-item glyphicon glyphicon-link"> <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Related Campaigns <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Example site 1</a></li>
                                        <li><a href="#">Example site 2</a></li>
                                        <li><a href="#">Example site 3</a></li>
                                    </ul>
                                </div></li>

                        </ul>


                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="box comparision-from-initial">
                        <h2>Comparison from Initial</h2>
                        <img class="img-responsive" src="http://placehold.it/200x200&text=Bar+Chart+Goes+Here" />

                    </div>

                    <div class="clearfix">&nbsp;</div>
                </div>


                <div class="col-md-4">
                    <div class="box ranking-overview">
                        <h2>Ranking Overview</h2>
                        <img class="img-responsive" src="http://placehold.it/200x200&text=Pie+Chart+Goes+Here" />
                <span class="col-md-6">
                  Top 1
                </span>
                <span class="col-md-6">
                  top 10
                </span>
                <span class="col-md-6">
                  top 20
                </span>
                <span class="col-md-6">
                  top 200
                </span>
                <span class="col-md-6">
                  not in top 200
                </span>
                        <div class="clearfix">&nbsp;</div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <div class="account-request">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Account Requests</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-warning col-md-2">Tech <span class="pending">2</span></button>
                            <button type="button" class="btn btn-primary col-md-2">Account Manager <span class="pending">1</span></button>
                            <button type="button" class="btn btn-success col-md-2">Account</button>
                            <button type="button" class="btn btn-danger col-md-2">Escalation</button>



                        </div>

                    </div>


                </div>


            </div>

        </div>
    </div>







    <div class="rankings">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h2 class="col-md-6">Current Rankings - 27/10/2014</h2>
                                <div class="col-md-6 input-group text-right">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Previous Reports <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">3rd October 2014</a></li>
                                            <li><a href="#">3rd September 2014</a></li>
                                            <li><a href="#">3rd August 2014</a></li>
                                        </ul>
                                    </div>
                                    <!-- /btn-group -->
                                </div>


                            </div>
                            <!-- Table -->
                            <table class="table table-hover">
                                <tr>
                                    <th>Keyword</th>
                                    <th>Initial Rank</th>
                                    <th>Initial Difference</th>
                                    <th>Current Rank</th>
                                    <th>Rank Difference</th>
                                    <th>Ranking URL</th>
                                </tr>
                                <tr>
                                    <td>Keyword 1</td>
                                    <td>33</td>
                                    <td><span class="glyphicon glyphicon-chevron-up text-success"> 13</span></td>
                                    <td><span class="glyphicon glyphicon-chevron-up text-success"> 20</span></td>
                                    <td>13</td>
                                    <td>example.com</td>
                                </tr>
                                <tr>
                                    <td>Keyword 2</td>
                                    <td>3</td>
                                    <td><span class="glyphicon glyphicon-chevron-down text-danger"> 7</span></td>
                                    <td><span class="glyphicon glyphicon-chevron-down text-danger" > 10</span></td>
                                    <td><span class="glyphicon glyphicon-chevron-down text-danger"> 7</span></td>
                                    <td>example.com</td>
                                </tr>
                                <tr>
                                    <td>Keyword 3</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>example.com</td>
                                </tr>
                                <tr>
                                    <td>Keyword 4</td>
                                    <td>15</td>
                                    <td>4</td>
                                    <td>11</td>
                                    <td>4</td>
                                    <td>example.com</td>
                                </tr>
                            </table>

                            <div class="btn btn-primary pull-right btn-run-report">Run real time rank report</div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="campaign-notes">
        <div class="container">


            <div class="row campaign-notes">
                <div class="col-md-12">
                    <div class="box">
                        <h2>Campaign Notes</h2>
                        <div>
                            <img src="http://placehold.it/50x50&text=Toan+Duong" /> - 17/10/2014: 10:30am<br />
                            <p>This is a section where notes regarding the account. Below should have a form which Account & Admin users can leave notes. It needs to record the date and time the nots are submitted</p>
                        </div>

                        <h3>Add a new note</h3>
                        <textarea class="form-control" rows="3"></textarea>
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>