<div ng-controller="LoginController">
  <div class="jumbotron jumbotron-1">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-left">
            <a href="/"><img src="/img/logo.png"></img></a>
        </div>
      </div>
    </nav>
    <h1>{{login}}</h1>
    <div class="form-group label-floating">
        <input class="form-control" id="username" type="text" ng-model="username" placeholder="email">
        <input class="form-control" id="password" type="password" ng-model="password" placeholder="password">
        <a class="btn btn-primary btn-home" ng-click="loginClick()">Login</a>
        <a class="btn btn-primary btn-home" href="#/register">Register</a>
    </div>
  </div>
</div>